@import "src/app/styles/mixins";
.ui-button {
  background: #4d47c3;
  box-shadow: 0 4px 61px rgba(77, 71, 195, 0.4);
  border-radius: 9px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 100%;
  &:hover {
    background-color: #4e4a98;
  }
  @include fontChakra600
}